.bgHome{
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),url('../../assets/images/bg-home.jpg');
  position:absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}

.section1{
  display: flex;
  text-align: left;
  flex-direction: column;
  float: left;
  width: 30%;
}

.divButtons{
  display: flex;
  flex-direction: row;
}

.btn{
  background-color: #b29f94;
  border-radius: 10px;
  margin: 15px;
  width: 7rem;
  height: 5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.search input{
  background-color: #F4E2D8;
  border-radius: 10px;
}
.search input::placeholder{
  color: rgb(93, 93, 93);
  font-weight: bold;
}
.search button{
  background-color: rgb(175, 109, 66);
  border-radius: 10px;
  font-weight: bold;
  color: black;
}

.filter{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
}
.filter select{
  margin-bottom: 10px;
  background-color: #b29f94;
  border-radius: 10px;
  border: 1px solid;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.contactLang{
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact{
  width: 50%;
  height: 50px;
  background-color:#b29f94;
  border: 1px solid;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  margin: inherit;
  text-align: center;
}

.lang{
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #b29f94;
}
.langSelect{
  width: 30%;
  background-color: rgb(175, 109, 66);
  border-radius: 10px;
  font-weight: bold;
  color: black;
}

.user{
  background-image: linear-gradient(
    0deg,
    rgba(185, 184, 184, 0.3),
    rgba(185, 184, 184, 0.3)
  );
  font-weight: bold;
}

.section2{
  display: flex;
  flex-direction: column;
  float: right;
  width: 70%;
  margin-top: 75px;
}

.divLetter{
  display: flex;
}
.divLetter button{
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: #b29f94;
  cursor: pointer;
}

.card{
  display: grid;
  gap: 0.5rem;
  grid-auto-rows: 17rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr))
}

.cardRandom{
  width:30%;
  height:10%;
}