.target{
  font-weight: bold;
}

.select{
  margin-bottom: 10px;
  background-color: #b29f94;
  border-radius: 10px;
  border: 1px solid;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.divLetter{
  display: flex;
}
.divLetter button{
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: #b29f94;
  cursor: pointer;
}